<script>
$("#add").click(function(event){
    event.preventDefault();
    console.log("button clicked add");
    let name = $("#name").val();
    let email = $("#email").val();
    let pass = $("#password").val();
    let csr = $("input[name=csrfmiddlewaretoken]").val();
    console.log(csr);
    if(name == ""){
        console.log("error 1");
    }else if(email == ""){
        console.log("error 2");
    }else if(pass == ""){
        console.log("error 3");
    }else{
        console.log(name);
        console.log(email);
        console.log(pass);
        data = {
           csrfmiddlewaretoken: csr,
           name: name,
           email: email,
           password: pass
        };
        $.ajax({
            url : "{% url 'add' %}",
            method: "POST",
            dataType:'json',
            data : data,
            success: function(data){
                console.log(data);
            },

        });
    }
    
});

//variables from form
</script>