{% extends 'main.html' %}

{% block css %}
<style>
.flex-gap{
    gap:10px;
}
</style>
{% endblock %}

{% block content %}
<div class="container pt-4 flex-gap">
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-center alert bg-primary">Add/Update Data</h4>
            <!-- <div class="jumbotron"> -->
                <h3>User Form</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                        {% for err in form.name.errors %}
                        <small class="text-danger">{{err}}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                        {% for err in form.email.errors %}
                        <small class="text-danger">{{err}}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        {% for err in form.password.errors %}
                        <small class="text-danger">{{err}}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit" id="add">Add</button>
                        <!-- <input class="btn btn-success" type="submit" id="add" value="Add"> -->
                    </div>
                </form>
            <!-- </div> -->
        </div>
        <div class="col-md-7">
            <h4 class="text-center alert alert-primary">Show User Data</h4>
            <table class="table table-hover table-responsive-sm table-responsive-md">
               <thead class="thead-dark">
                   <tr>
                       <th scope="col">ID</th>
                       <th scope="col">Name</th>
                       <th scope="col">Email</th>
                       <th scope="col">Password</th>
                       <th scope="col">Action</th>
                   </tr>
               </thead> 
               <tbody>
                   {% for ob in obj %}
                   <tr>
                       <td>{{ob.pk}}</td>
                       <td>{{ob.name}}</td>
                       <td>{{ob.email}}</td>
                       <td>{{ob.password}}</td>
                       <td>
                           <button type="submit" data-sid="{{ob.pk}}" class="btn btn-warning btn-sm" id="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                           <button type="submit" data-sid="{{ob.pk}}" class="btn btn-danger btn-sm" id="delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                   </tr>
                   {% endfor %}
               </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% include "enroll/ajax.html" %}
{% endblock %}